* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1877f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 350px;
}

.logo {
    width: 50px;
    height:50px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgot-password {
    display: block;
    color: #1877f2;
    margin: 10px 0;
    text-decoration: none;
    font-size: 14px;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    color: #555;
    font-size: 14px;
}

    .separator::before,
    .separator::after {
        content: "";
        flex: 1;
        height: 1px;
        background: #ccc;
        margin: 0 10px;
    }

button {
    width: 100%;
    padding: 10px;
    background: #1877f2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

    button:hover {
        background: #165db1;
    }
